@using FoodDeliveryService.Models;

@model IList<Product>
@* body: *@

@if (Model == null || !Model.Any())
{
    <div class="contentText">We ran out of food! Please come back later!</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ranking
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].IsVegan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].IsSpicy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].AmountSold)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @counter
                    </td>
                    <td style="text-align: left">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="text-align: left">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsVegan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSpicy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountSold)
                    </td>
                    <td>
                        <!--
                        <form asp-controller="Cart" asp-action="AddToCart" asp-route-selectedCat="@ViewBag.SelectedCategory">
                            <p>
                                <input type="submit" class="btn btn-success" value="Search" />
                            </p>
                        </form>
                            -->
                        <form id="@item.ProductID" asp-action="AddToCart" asp-controller="Cart" method="post">
                            <!--<input type="hidden" asp-for="@item.ProductID" />-->
                            <input type="hidden" name="productId" value="@item.ProductID" />
                            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                            <span class="card-text p-1">
                                <button type="submit"
                                        class="btn btn-success btn-sm pull-right" style="float:right">
                                    Add To Cart
                                </button>
                            </span>
                        </form>

                    </td>
                </tr>

                    counter = counter + 1;
                
            }
        </tbody>
    </table>
}
